<!-- Dégradé comics dynamique -->
<div
  class="absolute inset-0 w-full h-full pointer-events-none gradient-primary-vertical opacity-100 z-0"
>
</div>

<!-- Images comics en overlay -->
<div
  class="absolute inset-0 w-full h-full pointer-events-none bg-halftone-color-dodge"
>
</div>
<div
  class="absolute inset-0 w-full h-full pointer-events-none bg-halftone-color-burn"
>
</div>
<div class="absolute inset-0 w-full h-full pointer-events-none bg-retro-comics">
</div>
