---
import Button from "./Button.astro";

const theme = "ca-va-trailer";
---

<div
  class="hero min-h-screen w-screen relative overflow-hidden bg-black"
  data-theme={theme}
>
  <!-- Image héro -->
  <img
    src="/hero/hero.webp"
    alt="Hero Image"
    class="absolute inset-0 w-full h-full object-cover object-center brightness-90 contrast-110 z-10"
  />

  <!-- Contenu texte positionné -->
  <div
    class="absolute inset-0 z-30 flex items-start justify-end p-8 md:p-4 pt-20 md:pt-40 md:pr-20"
  >
    <div class="flex flex-col items-end">
      <h1
        class="font-primary text-[9rem] text-[var(--color-white)] text-right -rotate-2"
      >
        BRYAN THIERRY
      </h1>
      <div class="w-full flex justify-center">
        <Button
          label="Voir mes projets"
          href="#projects"
          className="hero-button"
          theme={theme}
        />
      </div>
    </div>
  </div>
</div>
