---
import "../styles/global.css";
import BackgroundDynamic from "../components/BackgroundDynamic.astro";
import Hero from "../components/Hero.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="fr" data-theme="synthwave">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body class="overflow-x-hidden">
    <Header />
    <Hero />
    <slot />
  </body>
</html>
